@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-[#FEF5ED];
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url("./images/bg-float.png");
  background-position: center center;
  animation: float-bg 5s ease-in-out infinite alternate;
  z-index: -1;
}
body::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  background-size: contain;
  background-image: url("./images/fruit.png");
  background-position: right bottom;
  animation: slide-in 4s ease-in-out;
  z-index: -2;
  position: fixed;
}
@keyframes slide-in {
  from {
    right: -200px;
  }
  to {
    right: 0;
  }
}
@keyframes float-bg {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-10%);
  }
}

@keyframes slideDownFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animated {
  animation: slideDownFadeIn 2s;
}

@font-face {
  font-family: "MainTitleFont";
  src: url("./fonts/restaurant.ttf") format("truetype");
}
h1 {
  font-family: "MainTitleFont", sans-serif;
}
